@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F1F7F9] text-slate-800 font-sans antialiased;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F1F7F9;
}

::-webkit-scrollbar-thumb {
  background: #B0C4DE;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00A8C6;
}
